node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.test
.DS_Store
coverage
.vscode
.idea
tests
**/*.spec.ts
**/*.test.ts
docker-compose.yml
Dockerfile
.eslintrc.js
jest.config.js
prisma/migrations

*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.server.json
