name: Front-end-buy-now CI

on:
  push:
    paths:
      - "apps/front-end-buy-now/**"
  pull_request:
    paths:
      - "apps/front-end-buy-now/**"

jobs:
  front-end-buy-now:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: apps/front-end-buy-now

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install -g pnpm
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build
