name: Mobile-buy-now CI

on:
  push:
    paths:
      - "apps/mobile-buy-now/**"

jobs:
  mobile-buy-now:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: apps/mobile-buy-now

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install -g pnpm
      - run: pnpm install

      - run: npm install -g eas-cli
      - run: eas build --platform all --non-interactive
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
